@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* Default mobile design styles */

/* Sets page default with a padding and margin of 0 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main body element of the page 
sets page background color
flex-direction makes content displayed as a column
aligns text in the center
color sets text color */

body {
    background-color: hsl(30, 54%, 90%);
    flex-direction: column;
    text-align: center;
    color: hsl(30, 10%, 34%)
}


/* Main white menu card 
Sets card width to fill the space 
margin auto sets card in center of page
sets background color to white
border-radius makes card corners cuvry 
margin-top sets space above card 
padding sets gap between image and card edges*/

.menu-card {
    background-color: white;
    padding: 0;
    width: 100%;
    padding-bottom: 2.5rem;
    }

/* For the main heading (Simple Omlette Recipe)
Sets text font and color and aligns in the center
Sets space on top and below title
no-wrap ensures that the text does not break when page resizes */

    h1 {
        text-align: left;
        color: hsl(24, 5%, 18%);
        white-space: wrap;
        font-family: 'Young Serif';
        line-height: 40px;
        font-size: 35px;
        margin: 2rem 2rem 1.5rem;
    }


/* Sets the corners of the image to not be curvy 
width 100% ensures that image fills the space around it*/

img {
    border-radius: 0;
    width: 100%;
}

/* The Preparation Time card 
sets font type and aligns the text to the left 
padding sets the space between the text and edge of card 
border-radius makes the edges of the card curvy
margin sets the space between the edge of the card and the edge of the white main card  */

.prep-card {
        font-family: "Outfit";
        margin: 2rem 2rem 2rem;
        background-color: hsl(330, 100%, 98%);
        border-radius: 1rem;
        text-align: left;
        padding: 1.5rem 1.5rem 1.5rem;
}

/* Sets the color of Preparation card title 
and the space around it  */

h3 {
    color: hsl(332, 51%, 32%);
    padding-bottom: 0.5rem;
}

/* Margin sets space around the Ingredients card in the main white card body
Aligns the text on the left side and sets font type */

.ingr-card {
    margin: 2rem 2rem 2rem;
    text-align: left;
    font-family: "Outfit";
}

/* Sets the color of the bullet points in tjhe Ingredients card */

.ingr-card li::marker {
    color: hsl(14, 45%, 36%);
}

/* Sets the thickness, color and space around each rule (line on the page) */

hr {
    border-top: 1px hsl(24, 5%, 18%);
    margin: 2.5rem 2rem 2rem;
}

/* For each title on the page (Ingredients, Instructions and Nutrition)
Sets the color, font size and type of the text and aligns it on the left side 
margin sets the space around each title  */

.sub-titles {
    color: hsl(14, 45%, 36%);
    font-size: 25px;
    font-family: "Young Serif";
    text-align: left;
    margin: 0rem 0rem 1rem;
}

/* For the Instrcution card 
margin sets the space around the card 
line-height sets the gaps between the lines of text 
this style also sets the font type and aligns the text on the left side */

.instr-card {
    margin: 2rem 2rem 1rem;
    text-align: left;
    line-height: 35px;
    font-family: "Outfit";
}

/* For Instructions card numbered bullet points 
sets the font type and color and makes them bold */

.instr-card ol li::marker {
    font-family: "Outfit";
    font-weight: bold;
    color: hsl(14, 45%, 36%);
}

/* For the Nutrition card 
sets the font and aligns the text to the left side */

.nutr-card {
    text-align: left;
    font-family: "Outfit";
}

/* For the unlisted items in the Nutrition card (Calories, Cardbs etc) 
Aligns the content in the center  */

.nutr-card ul {
    text-align: center;
}

/* Sets the space around the text under the Nutrition card title  */

.nutr-card p {
    margin: 0rem 2rem 1.5rem;
}

/* Sets the space around the <hr> element (the rule, or line on the page) in the Nutrition card */

.nutr-card hr {
    margin: 1rem 2rem 1rem;
}

/* For the Nutrition card values (0g, 20g, etc) 
sets the font color and makes it bold 
float: right sets it on the right side 
margin: right puts it further along the left on the right side 
white-space: nowrap ensures that the text does not break as the screen size changes  */

.nutr-span {
    font-weight: bold;
    color: hsl(14, 45%, 36%);
    float: right;
    white-space: nowrap;
    margin-right: 37%;
}

/* Targets the <p> elements (the text under main title and Nutrition title)
sets font size, type and aligns text on the left side 
line-height sets gap between text 
margin-left sets the gap between text and the edge of the main white card  */

p {
        font-size: 16px;
        font-family: "Outfit";
        text-align: left;
        margin-left: 2rem;
        line-height: 25px;
    }

/* Targets all listed items (<li> elements)
padding-left sets space around text on inside 
margin-left sets space around text on outside 
line-height sets the gap size brtween each line   */

    li {
        padding-left: 1rem;
        margin-left: 1.5rem;
        line-height: 30px;
    }

/* Responsive design  */

/* Small screens (Laptops etc) */

/* Styles for when the screen is at least 769px wide */

@media screen and (min-width: 769px) {

/* sets width to make main card take up only 40% of the page 
margin auto puts card in center of page 
margin top and bottom set space above and under card 
border radius makes edges of card rounded 
padding sets space between content and edge of main white card */

    .menu-card {
        width: 40%;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 80px;
        border-radius: 20px;
        padding: 2rem 2rem 2rem 2rem;
    }
    
/* border radius makes edges rounded
wdith 100% ensures that image takes up entire space around it */

    img {
        border-radius: 1rem;
        width: 100%;
    }

    /* margin sets space under main title 
    aligns it to the left side 
    white-space: wrap makes text break when page is resized  */

    h1 {
        margin-bottom: 1rem;
        text-align: left;
        white-space: wrap;
    }

    /* margin-left: 0 resets the margin to 0 (from the default mobile design style)
    and aligns it to the left side */

    p {
        margin-left: 0;
        text-align: left;
    }

/* Sets bullet points of Preparation card color  */
    
    ul li::marker {
        color: hsl(332, 51%, 32%);
    }

/* For listed items on card (<li> elements)
padding sets space inside on left side of each element 
margin sets space outside of element on left side 
line-height sets gap size between each line of text  */
    
    li {
        padding-left: 1rem;
        margin-left: 1.5rem;
        line-height: 35px;
    }
    
/* Targets the Preparation time card 
sets font and aligns text on left side 
margin sets space outside and around of text 
padding sets space inside and around of text 
border-radius makes edges of card rounded  */

    .prep-card {
        font-family: "Outfit";
        margin: 2rem 0rem 2rem;
        background-color: hsl(330, 100%, 98%);
        border-radius: 1rem;
        text-align: left;
        padding: 1.5rem 1.5rem 1.5rem;
    }
 
/* Targets the Ingredients card 
margin: 0 resets the space between card and main card to 0 (from default mobile deisng style)
aligns text on the left side  */

    .ingr-card {
        margin-left: 0;
        text-align: left;
    }
    
    .ingr-card li::marker {
        color: hsl(14, 45%, 36%);
    }
    
/* Sets the width and color of each rule on the page (line, or <hr> element) 
margin sets the space on the outside, around each element  */

    hr {
        border-top: 1px hsl(24, 5%, 18%);
        margin: 1.5rem 0rem 1.5rem;
    }
    
/* Targets Instruction card 
aligns text on the left side 
margin-left: 0; resets margin to none (from default mobile design)
margin-bottom sets space under card  */

    .instr-card {
        text-align: left;
        margin-left: 0;
        margin-bottom: 1rem;
    }
 
/* Targets the text in Instruction card 
line-height sets gap size between each line of text */

    .instr-card ol li {
        line-height: 25px;
    }
    
/* Targets Nutrition card <p> element (text under the title)
margin-left: 0; resets margin to none (from default mobile design style)
margin-bottom sets size og gap on outside around text under Nutrition card title  */

    .nutr-card p {
        margin-left: 0;
        margin-bottom: 1.5rem;
    }

    /* Targets the <hr> element (line, or rule) in Nutrition card 
    resets the space outside of and around each element  */
   
    .nutr-card hr {
        margin: 1rem 0rem 1rem;
    }
    
/* Aligns the unlisted items (<ul> elements) in Nutrition card (Calories, 277kcal, 0g, Carbs etc) to the left side */
    
.nutr-card ul {
    text-align: left;
}

/* Targets the ordered listed items (<ol> elemens) inside the unlisted items (<ul> elements) 
sets space outside of and around text (Calories, Carbs, Protein etc) on left side  */

.nutr-card ul ol {
    margin-left: 2rem;
}

/* Targets the text in the <span> element on html (277kcal, 0g, 20g etc)
resets the space around (inside and outside) of each element 
margin-right sets a gap that pushes elements more over to the left side */

    .nutr-span {
        margin-left: 0;
        padding-left: 0;
        margin-right: 25%;
    }
}

/* Large screens (Desktops etc) */

@media screen and (min-width: 1025px) {

/* Ensures that the title breaks as screen size changes  */

h1 {
    white-space: wrap;
}

/* Ensures that image takes up entirety of space around it */

img {
    width: 100%;
}
}

/* Extra large screens (TV etc) */

@media screen and (min-width: 1201px) {

/* Ensures that the title breaks as screen size changes  */

.menu-card h1 {
    white-space: nowrap;
}

/* Ensures that image takes up entirety of space around it */

img {
    width: 100%;
}
}
